interactions:
- request:
    body: null
    headers:
      X-Subscription-Token:
      - test_vcr_key
    method: GET
    uri: https://api.search.brave.com/res/v1/web/search?q=machine+learning&count=5&offset=0&country=US&search_lang=en&ui_lang=en-US&safesearch=moderate&freshness=pw&text_decorations=False&spellcheck=True&extra_snippets=True&summary=True&result_filter=web%2Cnews%2Cvideos%2Cinfobox%2Cfaq
  response:
    body:
      string: '{"error":{"code":"SUBSCRIPTION_TOKEN_INVALID","detail":"The provided
        subscription token is invalid.","meta":{"component":"authentication"},"status":422},"type":"ErrorResponse"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: ''
version: 1
