paths:
  /query:
    post:
      operationId: queryMemory
      summary: Query vector database for project knowledge
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: "Query string to search the vector db"
      responses:
        "20":
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        content:
                          type: string